.header {
  background-color: var(--background-primary);
  height: 70px;
  display: flex;
  align-items: center;
}

.header--title {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 20px;
}

.header--btn-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80px;
  margin-left: 30px;
  cursor: pointer;
  padding: 0 15px;
}

.header--btn-container:hover {
  background-color: var(--background-secondary-light);
}

.header--btn {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
}

.header--btn-caret {
  color: #ff4655;
  padding-left: 8px;
  font-size: 0.8rem;
  position: relative;
  top: 1px;
}

.header--dropdown {
  position: absolute;
  top: 55px;
  width: 100px;
  background-color: var(--background-primary);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  z-index: 1;
  padding: 0;
}

.header--dropdown-item {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 7px;
}

.header--dropdown-item:hover {
  background-color: var(--background-secondary-light);
}
