.header {
  background-color: var(--background-primary);
  height: 70px;
  display: flex;
  align-items: center;
}

.header--title {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 20px;
}

.header--btn-container {
  margin-left: 40px;
  width: auto;
  cursor: pointer;
}

.header--btn {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 600;
}

.header--btn-caret {
  /* color: #4a4e61; */
  color: #ff4655;
  padding-left: 8px;
  font-size: 0.8rem;
  position: relative;
  top: 1px;
}
